.company-list {
    position: relative;

    .wrapper {
        width: 1080px;
        margin: -90px auto 60px;
        z-index: 1010;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 6px 7px 2px #00000054;
        font-size: 1em;

        header {
            display: none;
        }

        .eIJzIM:first-child{
            font-size: 1.4em;
        }

        .sc-ifAKCX {
            font-size: 1em;
            margin: 10px 5px;
        }
    }
}