.specialist-course {
    background: #f8f8f8;
    padding-bottom: 40px;

    .wrap {
        padding-top: 30px;
        max-width: 1200px;
        margin: auto;

        .list {
            padding-top: 10px;

            .item {
                padding: 20px;
                margin: 25px 20px 0px;
                border: 1px solid #51a3a3;

                .title {
                    font-weight: 600;
                }

                .description {
                    padding-top: 10px;
                }
            }
        }
    }
}