.profile-main {

    .wrapper {
        display: flex;
        width: 1080px;
        margin: 40px auto;

        .profile-avatar {
            width: 180px;
        }

        .profile-menu {
            margin-left: 35px;
            margin-top: 10px;
            width: 250px;        
        }
    }
}