.specialist-cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 680px;

    img {
        position: absolute;
        top: 0px;
        object-fit: cover;
        filter: brightness(60%);
        height: 680px;
        width: 100vw;
    }

    .title {
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 2.7em;
        font-weight: 600;
        color: #EAD40E;
        transform: translate(-50%, 0);
        font-weight: 600;
    }

    .select-specialisation {
        position: absolute;
        top: 40%;
        left: 20%;
        right: 30%;

        label {
            color: #fff;
        }

        input {
            margin-top: 10px;
            font-size: 1.4em;
            padding: 15px 25px;
            width: 100%;
            border-radius: 5px;
            border: none;
        }
    }

    .subtitle {
        position: absolute;
        top: 65%;
        left: 50%;
        font-size: 1.3em;
        color: #FFF;
        transform: translate(-50%, 0);
    }

    .btn-test {
        position: absolute;
        top: 75%;
        left: 50%;
        font-size: 1.3em;
        color: #FFF;
        transform: translate(-50%, 0);
        text-decoration: none;
        padding: 20px 70px;
        background: #ebd50f;
        border-radius: 5px;
        color: #333;
        box-shadow: 1px 11px 15px 1px #333;    
    }
}